@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Barlow Semi Condensed;
  src: url(./assets/Fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

body{
  font-family: Barlow Semi Condensed ;
  margin: 0;
  padding: 0;
}